<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zhongyougou.oss-cn-beijing.aliyuncs.com/zhong.ipa?Expires=1551868499&amp;OSSAccessKeyId=TMP.AQEqjgL1GFf477w9AZq-R7J-d-jU7Wo9GdlOo4wsIWel-x4mpjMHVxUGE2ysMC4CFQCgp2QgW8myLDa2G_ghmaUBr2j1vQIVAMsEVYE7W_4HtROG-N2oftsCbqNF&amp;Signature=Mc9a2FwWAp9QkyK3Z45PR3MVCuM%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://b323.photo.store.qq.com/psb?/a5884b44-9c25-4d7b-bea1-0db6db7e87b6/QhAvP3*Zk.gNfJUKiz2bQ.YP9NaLMTx3ZhU0a1QR20g!/b/dEMBAAAAAAAA&amp;bo=kAQgAwAAAAARB4c!&amp;rf=viewer_4</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://b323.photo.store.qq.com/psb?/a5884b44-9c25-4d7b-bea1-0db6db7e87b6/QhAvP3*Zk.gNfJUKiz2bQ.YP9NaLMTx3ZhU0a1QR20g!/b/dEMBAAAAAAAA&amp;bo=kAQgAwAAAAARB4c!&amp;rf=viewer_4</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zhong.zhong</string>
				<key>bundle-version</key>
				<string>1.0.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>oa_app</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
